#container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}


.img{
    display: flex;
    max-width: 500px;
    height: 350px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}

.img img{
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;

}




#Servicios {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}

.descripcion {
    width: 1000px;
    height: 300px;
    box-sizing: border-box; 
    overflow: auto;
    margin: 50px 20px 10px 5px;
    font-size: 20px;
    text-align: justify;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 900px){ 
    .descripcion{
       width:50%;
    }
}

.bloque {
    background-color: #f4f279;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5%;
    font-size: 28px;
    margin-top: -6.5px;
}

.info{
    padding-top: 50px;
    column-count: 1;
    padding-right: 30%;
    font-size: 20px;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif
}

#posicion{
    display: inline-flex;
   }

@media (max-width: 900px){
    #posicion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

#fOrmulario {
    display: inline-flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;

}

.curso {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;

}

.map{
    padding-top: 50px;
}

@media (max-width: 900px){
    .map{
        width: 50%;
    }
}

.datos {
    margin-top: 20px;
    margin-left: 50px;
}

.iTem {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}
.comunicate {
    color: rgb(158, 157, 157);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.box{
    display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
padding-bottom: 30px;
}

.box ul li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.box-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:  repeat(3,1fr); 
}

@media (max-width: 900px){
    .box-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 50px 0 50px 0px;
    }
}

@media (max-width: 900px){
    .flexbox img{
       width:50%;
    }
}
.box-container .flexbox{
    width: 400px;
    height: 500px;
    background-color: rgb(154, 232, 143);
    display: grid;
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto;
    align-content: center;
 

}

.box-container .flexbox img{
    width: 100%;
    object-fit: cover;
    
}


.box-container .flexbox p{
    overflow:auto;
    font-size: 20px;
}

.publicacioon {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: auto;
    margin-left: 200px;
   
}

@media (max-width: 900px){
    .publicacioon{
        width: 50px;
    }
}

.publicacion img{
    width: 400px;
    height: 400px;
    margin: 0;
   
}


.publicacion p{
    background-color: rgb(193, 197, 193);
    width: 400px;
    height: 50px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;

}
.publicacion{
    padding-bottom: 60px;
    margin: 0;
    padding: 30px;
}


.principalPublicaciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px;
    
}

.bloqueFlex{
    padding: 30px;
}

#menup ul li{
    display: flex;
    text-decoration: none;
    border: black solid 2px;
    background-color: #deb567;
    padding: 0 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#menup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mEnupubli{ 
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
